*.aux
*.gz
*.toc
*.glg
*.glo
*.gls
*.ilg
*.idx
*.ind
*.ist
*.log
*.out
*.fls
*.*latexmk
*.bbl
*.*-glg
*.*-gls
*.*-glo
main.acn
main.acr
main.alg
main.maf
main.mtc
main.mtc0
main.mtc1
main.mtc2
main.mtc3
main.mtc4
main.mtc5
main.mtc6
main.mtc7
main.tmb
*.blg
main-blx.bib
main.run.xml
main.wrt
*.FCBak
main.synctex(busy)
